<!DOCTYPE html>
<html>
<head>
</head>
<header>
  <title>To Do List | APP Features Pool</title>
</header>
<body>
  <h1>Here's a list of features I want to add/change on the Order's App:</h1>
  <hr/>
    <ol>
      <li>Get rid of the Diner thing via Allan. Make it Based on Users.</li>
      <li>Add the Search by Restaurant Feature</li>
      <li>Add the sort by Person Feature</li>
      <li>Create a profile landing page: add photo, etc</li>
      <li>Add favorit restaurant feature based on things I've favorited</li>
      <li>Add an API for sorting out restaurants by highest rated within my group, and in the area</li>
      <li>Get the social side of things, where Users can interact with each other...be apart of groups, authorization to see other people's orders, share, etc.(Almost like being able to share their order with the person placing the order. Several stories here.)</li>
      <li>add the feature to send the order to the restaurant directly.</li>
      <li>2 things: have a way to start an order for restaurant...like populating a list....name, order where you go down your group and check a box to include that person's order with the order you are going to place with said Restaurant.</li>
      <li>Add an API to see what is trending right now in your area, AND you can click on that order and check a box to send it directly to the restaurant.</li>
      <li>add a feature to view the restaurant menu, with a checkbox next to the item for easy ordering. The app will remember your order and assign it to the group/restaurant.</li>
      <li>Add this app to the APP store or get it public</li>
      <li>Add a Goodle Ads API to get adds up on the site</li>
      <li>Update the look/feel of the website.</li>

    </ol>
  <h1>Plan of attack</h1>
    <ol>
      <li>Get my idea licensed and protected. Maybe look at Apple Store.</li>
      <li>Get some mentorship/guidance on how to go about doing this. Allan may be a resource to prioritize and mentor in this process.</li>
      <li>Get some help on creating these features: thougts: Jenny Pletner, Arlene, Kelly, Mike Luckey, Joe</li>
</body>
</html>
